fastapi
uvicorn
python-multipart
python-dotenv
pyngrok
openai-whisper
torch
transformers
scikit-learn
xgboost
numpy
pandas
librosa
soundfile
moviepy
pytesseract
Pillow
langdetect
pydantic
scipy
streamlit